
<header>
    {{> navbar}}
</header>

<div class="container-fluid">
    <h1>American Whitewater</h1>
</div>
<div class="container-fluid river-container">
    <h1>River Data</h1>
</div>


<footer>
{{> footer}}
</footer>

<script src="../../assets/javascript/index.js"></script>
