html, body {
    margin: 0;
    padding: 0;
    background-color: #212529
}
.container-fluid {
    width: 100%;
    padding: 0;
}
/* table {
    width: 100% !important;
    margin: 0 auto;
} */
.hide {
    opacity: 0;
}
th {
    height:3rem !important;
    vertical-align: middle !important;
}

td {
    height:3rem !important;
    vertical-align: middle !important;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w20 {
    width: 20%;
}


.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%
}
.navbar-brand {
    font-size: 3rem;

}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

li {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center
}

.nav-item {
    text-align: center;
    width: 8rem;
}

.refresh {
    background-color: rgba(0, 0, 0, 0.479);
}


.clear {
    background-color: rgba(175, 4, 4, 0.842);
}

.navbar{
    padding-left: 1.25rem;
}

.container-fluid{
    margin-top: 5rem;
    padding: 0 0.75rem;
}

.notesRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.notesRow form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
}

.notesRow button {
    width: 10rem;
}

.text{
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding-left: 1rem;
}

.notesRow .note {
    font-size: 1.75rem;
    color: #E0A82C;
    
    margin: 0 auto;
}